body{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.editor{
    min-height: 80% !important;
    overflow: hidden;
    margin-top:5%;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 10px grey, inset 5px 5px 10px grey;
    width:80%;
}
.fill-height{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.menu-items-container{
    margin-top: 2%;
}
.menu-items{
    font-size: 15px;
    //font-family: 'Orbitron', sans-serif;
    font-family: 'Alegreya', serif;
    padding: 0 !important;
    margin: 0 !important;
}
.menu-items li{
    margin: 0 !important;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}
.active{
    background-color: #fff;
    box-shadow:grey 2px 2px 3px inset,grey 2px 2px 3px;
}
.editor-box{
    margin-bottom: 5%;
    border: 1px solid black;
    padding: 0;
}
.liner{
    overflow: hidden;
    height: 450px;
    width: 10%;
    float: left;
    border-right: solid 1px;
}
.editor-area{
    width: 90%;
    height:450px;
    padding:5px;
    float: left;
    background-color: #fff;
    //font-family: 'Orbitron', sans-serif;
    font-family: 'Alegreya', serif;
    overflow-y: scroll;
    overflow-x: scroll;
}
.radius {
    -moz-border-radius: 5px;
    border-radius: 10px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.selected{
    background-color: #96c6ff;
}


.ico-blue{
    color:#355984;
}
.ico-red{
    color:#892c32;
}


//pace
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #c0c0c0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #c0c0c0, 0 0 5px #c0c0c0;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #c0c0c0;
    border-left-color: #c0c0c0;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}